[submodule "site/modules/RockMigrations"]
	path = site/modules/RockMigrations
	url = git@github.com:BernhardBaumrock/RockMigrations.git
[submodule "rock"]
	path = rock
	url = git@github.com:baumrock/RockShell.git
[submodule "site/modules/RockBackup"]
	path = site/modules/RockBackup
	url = git@github.com:baumrock/RockBackup.git
